/* CSS for Sidebar Component */
.sidebar {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Disables scroll */
  width: 250px; /* Fixed width */
  cursor: url("../../assets/LINK SELECT (1).cur"), auto !important;
}
.sidebar:hover {
  cursor: url("../../assets/LINK SELECT (1).cur"), auto !important;
}
.try:hover {
  cursor: url("../../assets/LINK SELECT (1).cur"), auto !important;
}
.sidebar-content {
  font-family: "Courier New";
  color: white;
  background-color: #333;
  cursor: url("../../assets/LINK SELECT (1).cur"), auto !important;
}

.text-decoration-none {
  font-family: "Jersey 10";
  font-size: 30px;
  cursor: url("../../assets/LINK SELECT (1).cur"), auto !important;
}

.activeClicked {
  font-family: "Courier New";
  font-weight: bold; /* Make active link bold */
  color: #00a1ff; /* Highlight color for active links */
  cursor: url("../../assets/LINK SELECT (1).cur"), auto !important;
}

/* Icons in sidebar items */
.fa-bars {
  margin-right: 10px;
}

.fa-cloud,
.fa-plus-circle,
.fa-book,
.fa-chart-line,
.fa-sign-out-alt {
  margin-right: 10px;
}
