/* CourseDetails.css */
.course-details-container2 {
  color: gold;
  font-family: "Jersey 10", cursive; /* This font mimics old video game text */
  animation: fadeIn 3s ease-out forwards;
}

.course-title68 {
  height: 1px;
  color: goldenrod !important;
  font-family: "Jersey 10";
  text-align: center !important;
  margin-top: 0px !important;
  margin-bottom: 20px;

  font-size: 55px !important;
}

.interactive-area5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px 30px 0px;
}

.text-bubble5 {
  white-space: pre-wrap; /* Maintains whitespace formatting */
  max-width: 300px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 2px solid #333;
  font-family: "Jersey 10", sans-serif;
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

.text-bubble5::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust this value to move the tip up or down */
  left: 50px; /* Adjust this value to move the tip left or right */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #f0f0f0;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

.mascot-gif5 {
  width: 250px;
  cursor: pointer;
}

.holes-container {
  display: grid;
  grid-template-columns: repeat(9, minmax(120px, 1fr));
  grid-gap: -30px;
  justify-content: center;
  margin: 0px 100px;
}

.hole-card {
  width: 200px;
  /*background-color: #2b460c;*/
  background-image: linear-gradient(to bottom right, #243a08, #2b460c);
  color: #fafad2; /* Parchment */
  border: 2px solid #979290; /* Dark Brown */
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Courier New", Courier, monospace; /* Monospace font for a vintage look */
  border-radius: 4px; /* Slightly rounded corners */
  box-shadow: -10px 0 25px -3px rgba(0, 0, 0, 0.7),
    /* Deep left shadow for depth */ 5px 5px 7px rgba(0, 0, 0, 0.2),
    /* Subtle regular shadow */ inset 0px 0px 8px rgba(255, 255, 255, 0.2);
  text-transform: uppercase; /* Styling the text to uppercase for that old video game look */
  font-weight: bold;
  margin: 10px 10px 10px -10px;
  grid-column-end: span 1.5;
  border-right: solid 3px #ccc; /* Darker right border for depth */
  border-bottom: solid 3px #ccc;
  animation: dealCards 0.6s ease-out forwards;
  animation-delay: calc(var(--card-index) * 0.1s);
  opacity: 0;
  transition: all 0.3s;
}

@keyframes dealCards {
  from {
    transform: translateX(-100vw); /* Start from off-screen left */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* End at the final position */
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hole-card:hover {
  background-image: none;
  background-color: #bdf0bd; /* Amber */
  color: #5c4033; /* Dark Brown */
  border-color: #000000; /* Amber for the border on hover/focus */
  box-shadow: 0 0 10px 4px #ffbf00,
    /* Bright outer glow */ inset 0px 0px 8px rgba(255, 255, 255, 0.3); /* Stronger inner glow */
  transform: translateY(-25px) !important;
  transition: transform 0.3s ease-in-out !important;
  z-index: 10;
  cursor: url("../../assets/PRECISION.cur"), auto;
}

/* When the button is active, make it look like it's being pressed */

.hole-info h2,
.hole-info p {
  margin: 5px 0;
}

.hole-image {
  width: 100%;
  display: block;
  margin-top: 10px;
}

@keyframes zoomAndSpin {
  0% {
    transform: rotateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotateY(360deg) scale(6) translate(-25%, -25%);
    opacity: 0;
  }
}

.hole-card.zoom-spin {
  animation: zoomAndSpin 2s forwards;
  z-index: 100; /* Ensure it's above other elements */
}
