/* CourseDetails.css */
.course-details-container {
  background-color: black;
  color: gold;
  font-family: "Press Start 2P", cursive; /* This font mimics old video game text */
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.course-title2 {
  color: goldenrod;
  font-family: "Jersey 10";
  text-align: center !important;
  margin-top: 0px !important;
  margin-bottom: 20px;

  font-size: 80px !important;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff; /* Creates a white outline */
  animation: color-cycle-goldenrod-black 5s infinite alternate;
}
@keyframes color-cycle-goldenrod-black {
  0%,
  100% {
    color: goldenrod;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
      2px 2px 0 #fff; /* Creates a white outline */
  }
  25% {
    color: #dfb346;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
      2px 2px 0 #fff; /* Creates a white outline */
  } /* Dark goldenrod */
  50% {
    color: rgb(255, 255, 255);
    text-shadow: -2px -2px 0 goldenrod, 2px -2px 0 goldenrod,
      -2px 2px 0 goldenrod, 2px 2px 0 goldenrod; /* Creates a white outline */
  }
  75% {
    color: #daa520;
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
      2px 2px 0 #fff; /* Creates a white outline */
  } /* Dark goldenrod */
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.interactive-area5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.text-bubble5 {
  white-space: pre-wrap; /* Maintains whitespace formatting */
  max-width: 300px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 2px solid #333;
  font-family: "Jersey 10", sans-serif;
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

.text-bubble5:hover {
  cursor: url("../../assets/PRECISION.cur"), auto !important;
}

.text-bubble5::after {
  content: "";
  position: absolute;
  bottom: -10px; /* Adjust this value to move the tip up or down */
  left: 50px; /* Adjust this value to move the tip left or right */
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #f0f0f0;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

.mascot-gif5 {
  width: 250px;
  cursor: url("../../assets/LINK SELECT (1).cur"), auto !important;
}

.holes-container2 {
  display: grid;
  margin: 0px 100px;
  grid-template-columns: repeat(3, 1fr); /* This creates three equal columns */
  grid-gap: 10px; /* Space between the cards */
  padding: 20px; /* Padding around the entire grid for better spacing */
}

.hole-card2 {
  background-image: linear-gradient(to bottom right, #243a08, #335211);
  color: #fafad2; /* Parchment */
  border: 2px solid #2c9191; /* Dark Brown */
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 10px 20px;
  cursor: url("../../assets/PRECISION.cur"), auto !important;
  transition: all 0.3s;
  font-family: "Courier New", Courier, monospace; /* Monospace font for a vintage look */
  border-radius: 4px; /* Slightly rounded corners */
  box-shadow: 0 4px #2c9191, 0 -4px #2c9191, 4px 0 #ddd, -4px 0 #ddd,
    /* Inner shadow for a pressed button look */ 0 2px 6px rgba(0, 0, 0, 0.2); /* Outer shadow for depth */
  text-transform: uppercase; /* Styling the text to uppercase for that old video game look */
  font-weight: bold;
  margin: 10px;
  height: 450px;
  width: 400px;
  transition: transform all 0.3s ease-in-out;
}

.hole-card2:hover,
.hole-card2:focus {
  background-image: none;
  background-color: #ffbf00; /* Amber */
  color: #5c4033; /* Dark Brown */

  border-color: #ffffff; /* Amber for the border on hover/focus */
  box-shadow: 0 0 50px #ffbf00; /* Glowing effect on hover/focus */
  transform: translateY(-10px);
  transition: transform all 0.3s ease-in-out;
}

/* When the button is active, make it look like it's being pressed */
.hole-card2:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.hole-info h2,
.hole-info p {
  margin: 5px 0;
}

.hole-image {
  /* Ensure images take up the full card width */
  max-width: 300px;

  width: 300px; /* Maintain aspect ratio */
  height: auto;
  max-height: 400px;
  border-top: 1px solid #979290; /* Line between the image and text */
  margin-bottom: 10px; /* Space below the image */
  margin-top: 20px;
  margin-left: 20px;
}

.filters {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000; /* Multiple shadows for bold effect */
  display: flex;
  justify-content: center;
}

.filter-button {
  background-color: #460c0c; /* Chocolate */
  color: #fafad2; /* Parchment */
  border: 2px solid #979290; /* Dark Brown */
  padding: 10px 20px;
  cursor: url("../../assets/LINK SELECT (1).cur"), auto !important;
  transition: all 0.3s;
  font-family: "Courier New", Courier, monospace; /* Monospace font for a vintage look */
  border-radius: 4px; /* Slightly rounded corners */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.322),
    /* Inner shadow for a pressed button look */ 0 2px 6px rgba(0, 0, 0, 0.2); /* Outer shadow for depth */
  text-transform: uppercase; /* Styling the text to uppercase for that old video game look */
  font-weight: bold;
  margin: 10px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #ffbf00; /* Amber */
  color: #5c4033; /* Dark Brown */
  border-color: #ffbf00; /* Amber for the border on hover/focus */
  box-shadow: 0 0 8px #ffbf00; /* Glowing effect on hover/focus */
}

/* When the button is active, make it look like it's being pressed */
.filter-button:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.card-header {
  font-weight: bolder;
}

.hole-card2.zoom-spin {
  animation: pixelateOut 2s forwards;
}
@keyframes pixelateOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.filters.zoom-spin,
.interactive-area5.zoom-spin,
.course-title2.zoom-spin {
  animation: fadeout 1.7s forwards;

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }
}
