.create-hole-container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align children to the top */
}

.form-section,
.image-section {
  flex: 1; /* Take up equal space */
  padding: 10px;
  margin: 25px;
  border: 2px dotted black;
  background-color: rgba(250, 235, 215, 0.678);
}

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-field label {
  margin-right: 10px;
}

.description-item {
  margin-bottom: 5px;
}

.button {
  margin-right: 10px;
  background-color: #4caf50; /* Green background */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.button:last-child {
  margin-right: 0;
}

.image-upload-button {
  background-color: #008cba; /* Blue */
  color: white;
}

.image-container {
  text-align: center;
}
