.create-hole-container {
  color: goldenrod;
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align children to the top */
  margin: 120px 0px;
  opacity: 0;
  transform: scale(1.2) rotateY(30deg);
  transform-origin: center center;
  animation: zoomOutFadeInRotate 2s cubic-bezier(0.23, 0.6, 0.32, 1) forwards;
  perspective: 1500px;
}
@keyframes zoomOutFadeInRotate {
  0% {
    opacity: 0;
    transform: scale(10) rotateY(180deg);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
  }
}

.form-section2 {
  padding: 10px;
  margin: 200px;
  border: 2px dotted black;
  background-image: linear-gradient(to bottom right, #243a08, #2b460c);
  color: #fafad2; /* Parchment */
  border: 2px solid #979290; /* Dark Brown */
  padding: 5px 10px;
  cursor: url("../../assets/LINK SELECT (1).cur"), auto !important;
  transition: all 0.3s;
  font-family: "Courier New", Courier, monospace; /* Monospace font for a vintage look */
  border-radius: 4px; /* Slightly rounded corners */
  border-color: #000000; /* Amber for the border on hover/focus */
  box-shadow: 0 0 40px 4px #ffbf00,
    /* Bright outer glow */ inset 0px 0px 8px rgba(255, 255, 255, 0.3);
  text-transform: uppercase; /* Styling the text to uppercase for that old video game look */
  font-weight: bold;
  margin: 10px 10px 10px -10px;
  border-right: solid 3px #ccc; /* Darker right border for depth */
  border-bottom: solid 3px #ccc;
}

.image-section {
  padding: 10px;
  border: 2px dotted goldenrod;
}

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-field label {
  margin-right: 10px;
}

.description-item {
  margin-bottom: 5px;
}

.button {
  background-color: #460c0c; /* Chocolate */
  color: #fafad2; /* Parchment */
  border: 2px solid #979290; /* Dark Brown */
  padding: 10px 20px;
  cursor: url("../../assets/LINK SELECT (1).cur"), auto !important;
  transition: all 0.3s;
  font-family: "Courier New", Courier, monospace; /* Monospace font for a vintage look */
  border-radius: 4px; /* Slightly rounded corners */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.322),
    /* Inner shadow for a pressed button look */ 0 2px 6px rgba(0, 0, 0, 0.2); /* Outer shadow for depth */
  text-transform: uppercase; /* Styling the text to uppercase for that old video game look */
  font-weight: bold;
  margin: 10px;
}

.button:hover {
  background-color: goldenrod;
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.button:last-child {
  margin-right: 0;
}

.image-upload-button {
  background-color: #460c0c; /* Chocolate */
  color: #fafad2; /* Parchment */
  border: 2px solid #979290; /* Dark Brown */
  padding: 10px 20px;
  cursor: url("../../assets/LINK SELECT (1).cur"), auto !important;
  transition: all 0.3s;
  font-family: "Courier New", Courier, monospace; /* Monospace font for a vintage look */
  border-radius: 4px; /* Slightly rounded corners */
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.322),
    /* Inner shadow for a pressed button look */ 0 2px 6px rgba(0, 0, 0, 0.2); /* Outer shadow for depth */
  text-transform: uppercase; /* Styling the text to uppercase for that old video game look */
  font-weight: bold;
  margin: 10px;
}

.image-container {
  margin-top: 15px;
  text-align: center;
}

.newBigDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.smallDiv1 {
  display: flex;
  flex-direction: column;
}

.centerThis {
  margin-left: 140px;
  font-size: 25px;
}

.parInputField {
  margin-left: 0px;
}

.parLabel {
  margin-left: 47px;
}

.createHoleInput {
  font-family: "Jersey 10";
}

.centerThis2 {
  font-size: 45px;
  font-family: "Jersey 10";
}
